{{ form_start(form) }}
{% if not form.vars.valid %}
	<div class="alert alert-danger">
		{{ form_errors(form) }}
	</div>
{% endif %}

<div class="form-row offset-4">
	<div class="form-group col-6">
		{{ form_row(form.marque, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group col-6">
		{{ form_row(form.modele, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group col-6">
		{{ form_row(form.couleur, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group col-6">
		{{ form_row(form.annee, {'attr': {'class': 'form-control'}}) }}
	</div>
	<div class="form-group col-6">
		{{ form_row(form.photo, {'attr': {'class': 'form-control'}}) }}
	</div>
</div>

<div class="text-end">
	<button class="btn btn-success mb-3 mt-3">Enregistrer</button>
</div>
{{ form_end(form) }}
