{% extends 'base.html.twig' %}

{% block title %}Modifier la voiture
{% endblock %}

{% block body %}

	<div class="container-fluid py-2">
		<div class="header-body">
			<div class="row col-12 align-items-center py-4">
				<div class="col-6">
					<h5 class="text-white d-inline-block mb-0">Voitures</h5>
				</div>
				<div class="col-6 text-end">
					<a class="btn btn-light" href="{{ path('voiture_index') }}">Retour à la liste des voitures</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid mt--6">
		<div class="row">
			<div class="col-6 offset-4">
				<div class="card">
					<div class="card-header border-0">
						<h5 class="mb-0">Modifier la voiture :
							{{ voiture.marque}}
							{{ voiture.modele }}</h5>
					</div>
					<div class="card-body">
						{{ include('voiture/_form.html.twig', {'button_label': 'Modifier'}) }}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
