{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<div class="container-fluid py-2">
		<div class="header-body">
			<div class="row col-12 align-items-center py-4">
				<div class="col-6">
					<h5 class="text-white d-inline-block mb-0">Voitures</h5>
				</div>
				<div class="col-6 text-end">
					<a href="{{ path('voiture_new') }}" class="btn btn-success">Ajouter une voiture</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid mt--6">
		<div class="row">
			<div class="col-6 offset-4">
				<div
					class="card pb-4">
					<!-- Card header -->
					<div class="card-header border-0">
						<span class="mb-0 h5">Liste des voitures</span>
					</div>
					<!-- Light table -->
					<div class="table-responsive">
						<table class="table table-sm align-items-center table-flush p-2">

							<thead class="thead-light">
								<tr>
									<th scope="col">Id</th>
									<th scope="col">Marque</th>
									<th scope="col">Modèle</th>
									<th scope="col">Couleur</th>
									<th scope="col">Actions</th>
								</tr>
							</thead>
							<tbody class="list text-sm">

								{% for voiture in voitures %}
									<tr scope="row">
										<td>{{ voiture.id }}</td>
										<td>
											<a href="{{ path('voiture_show', {'id': voiture.id}) }}">
												<span>{{ voiture.marque }}</span>
											</a>
										</td>
										<td>{{ voiture.modele }}</td>
										<td>{{ voiture.couleur }}</td>

										<td class="text-end p-0">
											<div class="btn-group">
												<a class="btn btn-xs btn-primary m-0" href="{{ path('voiture_show', {'id': voiture.id}) }}" data-bs-toggle="tooltip" title="voir">Voir</a>
												<a class="btn btn-xs btn-success m-0" href="{{ path('voiture_edit', {'id': voiture.id}) }}">Modifier</a>
											</div>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="4">Aucune voiture trouvée.</td>
									</tr>
								{% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
