{% extends 'base.html.twig' %}

{% block title %}Voitures
{% endblock %}

{% block body %}

	<div class="container-fluid py-2">
		<div class="header-body">
			<div class="row col-12 align-items-center py-4">
				<div class="col-6">
					<h5 class="text-white d-inline-block mb-0">Voitures</h5>
				</div>
				<div class="col-6 text-end">
					<a class="btn btn-light" href="{{ path('voiture_index') }}">Retour à la liste des voitures</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid mt--6">
		<div class="row">
			<div class="col-6 offset-4">
				<div class="card">
					<div class="card-header border-0">
						<h5 class="mb-0">Voiture :
							{{ voiture.marque}}
							{{ voiture.modele }}</h5>
					</div>
					<div class="card-body row">
						<div class="col-6">
							<table class="table table-responsive table-hover text-sm">
								<tbody>
									<tr>
										<th>Id</th>
										<td>{{ voiture.id }}</td>
									</tr>
									<tr>
										<th>Nom de la marque</th>
										<td>{{ voiture.marque }}</td>
									</tr>
									<tr>
										<th>Nom du modèle</th>
										<td>{{ voiture.modele }}</td>
									</tr>
									<tr>
										<th>Couleur</th>
										<td>{{ voiture.couleur }}</td>
									</tr>
									<tr>
										<th>Année de création</th>
										<td>{{ voiture.annee }}</td>
									</tr>

									{% if voiture.photo is defined and voiture.photo is not null %}

										<tr>
											<td></td>
											<td>
												<img src="{{ asset('voiture/' ~ voiture.photo) }}" alt="" width="300">
											</td>
										</tr>

									{% endif %}
								</tbody>
							</tbody>
						</table>
					</div>

				</div>

				<div class="card-footer text-end">
					<div class="btn-group-toggle">
						<a class="btn btn-success" href="{{ path('voiture_edit', {'id': voiture.id}) }}">Modifier</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
